.App {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 20px;
  background: #3b5998;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  color: #fff;
}
.header select {
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 3px;
}
section {
  padding: 10px;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
